/* CONFIGURAÇÃO DO PÁRAGRAFO */
p {
    font-size: 17px;
    color: rgb(0, 195, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}